@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

//var goes here
$my-lightblue: #2a75bb;
$my-darkblue: #3c5aa6;
$my-lightyellow:  #ffcb05; 
$my-darkyellow: #c7a008;
$my-black: #1e1e1e;

$card-color: $my-lightblue;
$navbar-background-color: $my-lightyellow;
$card-media-margin: 4px;
$card-background-color: $my-lightyellow;
$card-header-background-color: "solid";
$card-header-padding: 0px;
$card-header-shadow: 0px 0px 0px;
$box-padding: 2px;

@import "~bulma/bulma";

html,body{
    margin:0;
    padding:0;
    height: 100%;
    width: 100%;
    background-color: $my-darkblue;
}

#logo{
    transform: scale(3);
}

.navbar-start{
    margin-left: 1%;
    color: $my-lightblue;
}

.bg{
    background-color: $my-darkblue;
    height: 100%;
}

.square{
    margin: 200px;
    width: 20%;
    height: 20%;
    background-color: aqua;
}

#pokepic{
    position: relative;
    transform: scale(2.2);
}

.column{
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 1%;
}

#favourite{
    position: relative;
    top: +7.5px;
    background-color: lighten($my-lightblue, 10%);
}

.navbar-divider{
    background-color: lighten($my-lightblue, 20%);
}

#HP{
    background-color: red;
    color: white;
    width:30%;
    height: 99%;
    font-size-adjust: 2;
}
#ATK{
    background-color: yellow;
    color: white;
    width:30%;
    height: 99%;
    font-size-adjust: 2;
}
#DEF{
    background-color: blue;
    color: white;
    width:30%;
    height: 99%;
    font-size-adjust: 2;
}
#SPD{
    background-color: lawngreen;
    color: white;
    width:30%;
    position: relative;
    height: 99%;
    font-size-adjust: 2;
}

#container{
    height: 32.5px;
    opacity: 0%;
}

.progress{
    position: relative;
    width: 69%;
    top:-50px;
    float: right;
    height: 90%;
}

