@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

//var goes here
$my-lightblue: #2a75bb;
$my-darkblue: #3c5aa6;
$my-lightyellow:  #ffcb05; 
$my-darkyellow: #c7a008;
$my-black: #1e1e1e;

$navbar-background-color: $my-lightyellow;

@import "~bulma/bulma";

html,body{
    margin:0;
    padding:0;
    height: 100%;
    width: 100%;
}

#logo{
    transform: scale(3);
}

#navbar{
    margin-left: 1%;
}

.bg{
    background-color: $my-black;
    height: 1000px;
}

.square{
    margin: 200px;
    width: 20%;
    height: 20%;
    background-color: aqua;
}

#pokepic{
    position: relative;
    top:-5px;
    transform: scale(2);
}


#favourite{
    position: relative;
    top: +7.5px;
}

